body {
    background-image: url("Detail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn-dark:hover {
    background-color: white;
    color: black;
    border-color: black;
}