/* styles.css */
body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.nav-link:hover {
    background-color: lightgoldenrodyellow;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        float: left;
    }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            nav ul li a:hover {
                background-color: lightgoldenrodyellow;
            }

/* Content and Form styles */
#content {
    padding: 20px;
}

#add-book-form,
#add-author-form,
#add-category-form {
    margin: 20px 0;
}

#books,
#authors,
#categories {
    list-style-type: none;
    padding: 0;
}

    #books li,
    #authors li,
    #categories li {
        margin: 5px 0;
        padding: 10px;
        border: 1px solid #ddd;
    }

/* Categories Links */
#categories-links {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
}

    #categories-links a {
        display: block; /* Ensure links are block elements */
        padding: 10px; /* Add padding for better spacing */
        color: #007bff; /* Add link color */
        text-decoration: none; /* Remove underline */
    }

        #categories-links a:hover {
            color: #0056b3; /* Change color on hover */
        }

/* Category Heading */
.category-heading {
    color: #333; /* Color for the heading */
    margin-bottom: 10px; /* Space between heading and links */
}

/* Footer styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 3px 0;
    text-align: center;
}
