.table-responsive {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
}
.table tbody {
    color: white;
    background-color: #4682B4;
}
.table thead {
    background-color: #4682B4; /* Dark sky blue */
    color: white;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black !important;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: lightgoldenrodyellow;
    z-index: 1;
}

